{% extends "base.html" %}

{% block title %}외모 분석{% endblock %}

{% block content %}
<h1 class="text-2xl font-semibold mb-6">외모 분석</h1>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="bg-white dark:bg-gray-800 shadow rounded-lg p-6">
        <h2 class="text-2xl font-semibold mb-6">실시간 얼굴 감지</h2>
        <div class="flex flex-col space-y-4">
            <div class="flex space-x-4">
                <button id="cameraBtn" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded w-full">
                    (⭐️AI 실시간 분석⭐️)<br>카메라 열기
                </button>
                <input type="file" id="fileInput" class="hidden" accept="image/*">
                <button id="uploadBtn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
                    사진 업로드
                </button>
            </div>
            <div id="imageContainer" class="mt-4 w-full h-auto bg-gray-200 flex items-center justify-center">
                <video id="videoFeed" class="w-full h-auto object-contain hidden" autoplay playsinline muted></video>
                <img id="capturedImage" class="w-full h-auto object-contain hidden" alt="캡처된 이미지" />
                <p id="placeholderText" class="text-gray-500">여기에 카메라 화면 또는 업로드된 이미지가 표시됩니다.</p>
            </div>
            <div id="faceDetectionStatus" class="text-center font-bold mt-2"></div>
            <button id="captureBtn" class="mt-2 bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded hidden">
                사진 찍기
            </button>
        </div>
    </div>
    <div class="bg-white dark:bg-gray-800 shadow rounded-lg p-6">
        <h2 class="text-2xl font-semibold mb-6">외모 분석</h2>
        <div class="flex justify-end mb-4">
            <button id="analyze-btn" class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded">
                분석 시작
            </button>
        </div>
        <div id="report" class="text-gray-700 dark:text-gray-300">
            여기에 외모 분석 결과가 표시됩니다.
        </div>
        <img id="analyzedImage" class="w-full h-auto mt-4 hidden" alt="분석된 이미지" />
    </div>
</div>

<script src="{{ url_for('static', path='js/face_reading.js') }}"></script>
{% endblock %}
